<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" href="/navbar.css">
    <script src="/navbar.js"></script>
</head>
<body>
  <nav class="navbar" th:fragment="navbar">
    <div class="logo">
      <a th:href="@{/}">BrainTestHub</a>
    </div>
    <div class="menu" sec:authorize="isAuthenticated()">
      <ul>
        <li sec:authorize="hasRole('admin')"><a th:href="@{/cuestionarios/nuevo}">Crear cuestionario</a></li>
        <li sec:authorize="hasRole('admin')"><a th:href="@{/cuestionarios}">Lista de Cuestionarios</a></li>
        <li><a th:href="@{/cuestionarios/elegir}">Resolver Cuestionario</a></li>
        <li class="profile-dropdown">
          <a href="#" class="profile-icon" onclick="toggleProfileDropdown(event)">
            <i class="fas fa-user"></i>
          </a>
          <div class="profile-dropdown-content" id="profileDropdown">
            <a th:href="@{/perfil}" class="profile-dropdown-item">
              <i class="fas fa-user-circle"></i>
              Mi Perfil
            </a>
            <a th:href="@{/logout}" class="profile-dropdown-item">
              <i class="fas fa-sign-out-alt"></i>
              Cerrar sesión
            </a>
          </div>
        </li>
      </ul>
    </div>
    <div class="hamburger">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </nav>
</body>
</html> 