<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BrainTestHub - Inicio</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/index-style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>

<body>
    <div th:replace="fragments/navbar :: navbar"></div>

    <div class="container">
        <div class="header">
            <h1 th:text="${mensaje}">¡Bienvenido a BrainTestHub!</h1>
        </div>

        <div class="features">
            <div class="feature">
                <h3>Cuestionarios Dinámicos</h3>
                <p>Crea y gestiona cuestionarios personalizados para evaluar el conocimiento de tus estudiantes.</p>
            </div>
            <div class="feature">
                <h3>Resultados en Tiempo Real</h3>
                <p>Obtén feedback inmediato sobre el rendimiento de los estudiantes.</p>
            </div>
            <div class="feature">
                <h3>Gestión de Usuarios</h3>
                <p>Administra fácilmente tu usuario en la plataforma.</p>
            </div>
        </div>

        <div class="buttons" sec:authorize="!isAuthenticated()">
            <a th:href="@{/oauth2/authorization/auth0}" class="btn btn-primary">Iniciar Sesión</a>
            <a th:href="@{/oauth2/authorization/auth0}" class="btn btn-secondary">Registrarse</a>
        </div>
    </div>

    <script>
        function toggleMenu() {
            const menu = document.querySelector('.menu');
            menu.classList.toggle('active');
        }
    </script>

    <script src="/navbar.js"></script>

</body>
</html>
