<!doctype html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Editar Perfil de Usuario</title>
  <link rel="stylesheet" href="/cuestionario-style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
  <nav class="navbar">
    <div class="logo">
      <a th:href="@{/}" style="color: white; text-decoration: none;">BrainTestHub</a>
  </div>    <div class="menu">
      <ul>
        <li><a th:href="@{/}">Inicio</a></li>
        <li><a th:href="@{/cuestionarios/nuevo}">Crear cuestionario</a></li>
        <li><a th:href="@{/cuestionarios}">Lista de Cuestionarios</a></li>
        <li><a th:href="@{/perfil}"><i class="fas fa-user"></i></a></li>
      </ul>
    </div>
    <div class="hamburger">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </nav>

  <div class="container">
    <div class="title">Editar información</div>
    
    <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>
    
    <form th:action="@{/perfil/actualizar}" th:object="${usuario}" method="post">
      <div class="profile-details">
        <div class="input-box">
          <span class="details">Nombre de usuario</span>
          <input type="text" th:field="*{nombre}" required />
        </div>

        <div class="input-box">
          <span class="details">Correo</span>
          <input type="email" th:field="*{correo}" required />
        </div>

        <div class="input-box">
          <span class="details">Carnet</span>
          <input type="text" th:field="*{carnet}" />
        </div>

        <input type="hidden" th:field="*{id}" />
      </div>

      <div class="button">
        <input type="submit" class="btn btn-primary" value="Guardar">
      </div>
      <div class="button-cancel">
        <a th:href="@{/perfil}" class="btn-secondary">Cancelar</a>
      </div>
    </form>
  </div>

  <script src="/navbar.js"></script>
</body>

</html> 